.top
  .ed-container
    .ed-item.web-30
      .logo
        a(href="#inicio")
          +pic('logo', 'png')
    .ed-item.web-70.cross-center.menu
      .ed-menu.nav-bar.web-horizontal
        include menu.pug
